#app_body {
    height: 98%;
    width: 99%;
    border: 5px solid black;
	font-style: Arial;
}

#game {
    float: right;
    width: 720;
    height: 480;
    border: 3px solid red;
}

#app_body ul {
	list-style-type: square;
}