#app_body {
    height: 405px;
    width: 920px;
    border: 5px solid black;
    margin: auto;
}

#content_wrapper {
    width: 200px;
}

#game_outer {
    float: right;
    width: 600;
    height: 400;
    border: 3px solid red;
}

h1 {
    text-align: center;
}