#app_body {
    min-height: 405px;
    max-width: 900px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
    position: relative;
    font-family: "Cabin Sketch", sans-serif;
}

#app_body p {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    text-align: center;
}

#app_content {
    text-align: center;
}

#app_content ul {
    text-align: left;
    list-style-type: none;
}

#gamelist {
    text-alight: left;
}

button {
    font-size: 18px;
    margin-bottom: 15px;
}

.badge {
    float: left;
    margin-left: 5px;
}

#content_wrapper {
    width: 300px;
}

#game_outer {
    float: right;
    min-width: 350px;
}

#game_outer h3 {
    clear: both;
    text-align: center;
    margin-top: 10px;
}

#gamelist li {
    margin: 2px;
}

#scores_list {
    margin-left: 10px;
    overflow: hidden;
}

#scores_list img {
    float: left;
    width: 35px;
    height: 35px;
}

#gamelist img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

.outer_badge {
    clear: both;
    overflow: hidden;
    margin-bottom: 5px;
}