body {
    font-family: "Cabin Sketch", sans-serif;
}

#app_body {
    min-height: 405px;
    max-width: 900px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#app_body p {
    position: absolute;
    bottom: 0px;
}

#content_wrapper {
    width: 300px;
}

#game_outer {
    float: right;
    min-wdth: 400px;
}

#scores_list img, #gamelist img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}